<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
</p>

<canvas id="hexmap" width="860" height="720"></canvas>

<script>
	initGame(<%= @game.getDimensions[0]  %>, <%= @game.getDimensions[1] %>);
</script>

<% if false %>
	<%= link_to 'Edit', edit_session_path(@session) %> |
	<%= link_to 'Back', sessions_path %>
<% end %>