<p id="notice"><%= notice %></p>

<p id="game-top">
  <b>Game:</b>
</p>

<canvas id="hexmap" width="700" height="500"></canvas>

<script>
  initGame(<%= @game.width %>, <%= @game.height %>);
</script>

<% if false %>
  <%= link_to 'Edit', edit_session_path(@session) %> |
  <%= link_to 'Back', sessions_path %>
<% end %>
