<!DOCTYPE html>
<html>
<head>
  <title>Hex</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container">
    <div class="row">
      <div class="span9">
        <div class="hero">
          <h1>
            <span class="logo"><%= image_tag "ruby.jpeg", :size => "50x50"%></span>
            Ruby Hack Night: Playing Hex
          </h1>
        </div>
        <%= render 'debug-menu' %>
        <%= yield %>
      </div>
      <div class="span1"></div>
      <div class="span2">
        <span class="pull-left john">
          <%= image_tag "John.png", :size => "100x50"%>
        </span>
        <span class="desc">
          <h3>About Hex</h3>
          <p>
            Hex is a strategy board game played on a hexagonal grid,
            theoretically of any size and several possible shapes,
            but traditionally as an 11×11 rhombus.
            <b>John Nash</b> (one of the game's inventors)
            advocated 14×14 as the optimal size.
          </p></span>
      </div>
    </div>
	</div>
</body>
</html>
