<!DOCTYPE html>
<html>
<head>
  <title>Hex</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900' rel='stylesheet' type='text/css'>

   	<style type="text/css">

	canvas {
	border:0;
	display:block;
	margin:0 auto;
	}
	
	.desc {
		width:400px;
		margin-left:20px;
		padding-top: 10px;
		font-size: 30px;

	}
	
	body {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 18px;
	}

	.logo {
		margin-right: 15px;
	}

	.hero {
		margin-top: 30px;
	}

	header {
		margin-bottom: 50px;
		border-bottom: 1px silver dotted;
		padding-bottom: 50px;
	}

	.john {
		font-size: 18px;
		font-weight: 600;
		padding-top:35px;
	}

	</style>
	

</head>
<body>
	<header>
	<div class="container">
		<div class="hero">
			<h1><span class="logo"><%= image_tag "ruby.jpeg", :size => "50x50"%></span>Ruby Hack Night: Playing Hex</h1>
			<span class="pull-left john">
			<%= image_tag "John.png", :size => "100x50"%>
			</span>
			<span class="pull-left desc"><h3>About Hex</h3><p>Hex is a strategy board game played on a hexagonal grid, theoretically of any size and several possible shapes, but traditionally as an 11×11 rhombus. <b>John Nash</b> (one of the game's inventors) advocated 14×14 as the optimal size.</p></span>
		</div>
	<div>
	</header>
	<div class="container">		
		<%= yield %>
	</div>

</body>
</html>
